interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://e621.net/posts/99999999999.json
  response:
    body:
      string: "<!doctype html>\n<html>\n<head>\n  <title></title>\n  <link rel=\"shortcut
        icon\" href=\"/favicon.ico\" type=\"image/x-icon\">\n  <link rel=\"apple-touch-icon\"
        sizes=\"180x180\" href=\"/apple-touch-icon.png\">\n  <link rel=\"icon\" type=\"image/png\"
        sizes=\"32x32\" href=\"/favicon-32x32.png\">\n  <link rel=\"icon\" type=\"image/png\"
        sizes=\"16x16\" href=\"/favicon-16x16.png\">\n  <link rel=\"manifest\" href=\"/manifest.json\">\n
        \ <link rel=\"mask-icon\" href=\"/safari-pinned-tab.svg\" color=\"#00549e\">\n
        \ <meta name=\"theme-color\" content=\"#00549e\">\n  <meta name=\"RATING\"
        content=\"RTA-5042-1996-1400-1577-RTA\" />\n  <link rel=\"top\" title=\"e621\"
        href=\"/\">\n  <meta name=\"csrf-param\" content=\"authenticity_token\" />\n<meta
        name=\"csrf-token\" content=\"TkjDIpxAmph0U4qo5+4DcLZVOH2pIr7bWoFRyohGlt2lczoXvNdSPkPt/I7nOj8gQTOyE6mI0RwJzTD5p3mKMA==\"
        />\n    <meta name=\"viewport\" content=\"width=device-width,initial-scale=1\">\n
        \ <meta name=\"current-user-name\" content=\"Anonymous\">\n  <meta name=\"current-user-id\"
        content=\"\">\n  <meta name=\"current-user-can-approve-posts\" content=\"false\">\n
        \ <meta name=\"user-comment-threshold\" content=\"-10\">\n    <meta name=\"blacklisted-tags\"
        content=\"[&quot;gore&quot;,&quot;scat&quot;,&quot;watersports&quot;,&quot;young
        -rating:s&quot;,&quot;loli&quot;,&quot;shota&quot;]\">\n    <meta name=\"blacklist-users\"
        content=\"false\">\n  <meta name=\"enable-js-navigation\" content=\"true\">\n
        \ <meta name=\"enable-auto-complete\" content=\"true\">\n  <meta name=\"style-usernames\"
        content=\"true\">\n  <meta name=\"last-forum-read-at\" content=\"1959-12-31
        19:00:00 -0500\">\n  <meta name=\"disable-mobile-gestures\" content=\"false\">\n
        \ <link rel=\"alternate\" type=\"application/atom+xml\" title=\"ATOM\" href=\"/posts.atom\"
        />\n  <script src=\"/vendor/jquery-3.4.1.min.js\" nonce=\"M4vt12hUKq2WVopKsSX8iA==\"
        integrity=\"sha384-v/CvOfYoICV4azK6zXTy9qXP6UwbdbFVuxd2Lorpes7n5YVsaU1bQqIalcktKchl\"
        crossorigin=\"anonymous\"></script>\n  <link rel=\"stylesheet\" media=\"screen\"
        href=\"/vendor/fontawesome/css/all.min.css\" nonce=\"true\" integrity=\"sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf\"
        crossorigin=\"anonymous\" />\n  <link rel=\"stylesheet\" media=\"screen\"
        href=\"/packs/css/application-901e042a.css\" nonce=\"true\" />\n  <script
        src=\"/packs/js/application-92aae0a8d90f7a1b25e4.js\" nonce=\"M4vt12hUKq2WVopKsSX8iA==\"></script>\n
        \ <script type=\"application/ld+json\">\n  {\n    \"@context\": \"http://schema.org\",\n
        \   \"@type\": \"WebSite\",\n    \"url\" : \"https://e621.net/\",\n    \"potentialAction\":
        [{\n      \"@type\": \"SearchAction\",\n      \"target\": \"https://e621.net/posts?tags={search_term_string}\",\n
        \     \"query-input\": \"required name=search_term_string\"\n    }]\n  }\n
        \ </script>\n  <script type=\"application/ld+json\">\n  {\n    \"@context\":
        \"http://schema.org\",\n    \"@type\": \"WebSite\",\n    \"name\": \"e621\",\n
        \   \"alternateName\": \"e621\",\n    \"url\" : \"https://e621.net/\"\n  }\n
        \ </script>\n  \n  \n  <style id=\"blacklisted-hider\">\n    .post-preview,
        #image-container, #c-comments .post, .mod-queue-preview.post-preview, .post-thumbnail
        {\n      visibility: hidden !important;\n    }\n  </style>\n  <noscript>\n
        \   <style>\n      .post-preview, #image-container, #c-comments .post, .mod-queue-preview.post-preview,
        .post-thumbnail {\n        visibility: visible !important;\n      }\n    </style>\n
        \ </noscript>\n</head>\n<body lang=\"en\" class=\"c-posts a-show resp\" data-controller=\"posts\"
        data-action=\"show\" data-user-name=\"Anonymous\" data-user-level=\"0\" data-user-level-string=\"Anonymous\"
        data-user-can-approve-posts=\"false\" data-user-can-upload-free=\"false\"
        data-user-is-privileged=\"false\" data-user-is-contributor=\"false\" data-user-is-member=\"false\"
        data-user-is-blocked=\"false\" data-user-is-janitor=\"false\" data-user-is-former-staff=\"false\"
        data-user-is-admin=\"false\" data-user-is-moderator=\"false\" data-user-is-anonymous=\"true\"
        data-user-is-banned=\"false\" data-user-is-approver=\"false\" data-user-is-voter=\"false\"
        data-user-is-verified=\"false\">\n  <script nonce=\"M4vt12hUKq2WVopKsSX8iA==\">\n//<![CDATA[\n(function()
        {\n  try {\n    var theme = localStorage.getItem('theme') || 'hexagon';\n
        \   var extra = localStorage.getItem('theme-extra') || 'hexagon';\n    var
        nav = localStorage.getItem('theme-nav') || 'top';\n    var b = document.body;\n
        \   b.setAttribute('data-th-main', theme);\n    b.setAttribute('data-th-extra',
        extra);\n    b.setAttribute('data-th-nav', nav);\n  } catch(e) {\n  }\n})();\n\n//]]>\n</script>\n\n
        \ <header id=\"top\">\n    <div id=\"maintoggle\">\n      <a href=\"#\"><i
        id=\"maintoggle-on\" class=\"fas fa-bars\"></i></a>\n      <a href=\"#\"><i
        id=\"maintoggle-off\" class=\"fas fa-times\" style=\"display: none;\"></i></a>\n
        \   </div>\n\n    <nav id=\"nav\">\n      <menu class=\"main\">\n  <li id=\"nav-e\"><a
        id=\"nav-e-link\" href=\"/\">e621</a></li>\n    <li id=\"nav-sign-in\"><a
        id=\"nav-sign-in-link\" href=\"/session/new\">Sign in</a></li>\n  <li id=\"nav-posts\"
        class=\" current\"><a id=\"nav-posts-link\" href=\"/posts\">Posts</a></li>\n
        \ <li id=\"nav-comments\"><a id=\"nav-comments-link\" href=\"/comments?group_by=post\">Comments</a></li>\n
        \ <li id=\"nav-artists\"><a id=\"nav-artists-link\" href=\"/artists\">Artists</a></li>\n
        \ [...]
