interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://e621.net/post_flags.json
  response:
    body:
      string: '[{"id":368383,"created_at":"2020-04-19T02:50:38.030-04:00","post_id":2213076,"reason":"Inferior
        version/duplicate of post #2222262","is_resolved":false,"updated_at":"2020-04-19T02:50:38.030-04:00","is_deletion":false,"category":"normal"},{"id":368382,"created_at":"2020-04-19T02:47:38.346-04:00","post_id":2213075,"reason":"Inferior
        version/duplicate of post #2222258","is_resolved":false,"updated_at":"2020-04-19T02:47:38.346-04:00","is_deletion":false,"category":"normal"},{"id":368381,"created_at":"2020-04-19T02:43:30.801-04:00","post_id":2222229,"reason":"Inferior
        version/duplicate of post #2222254","is_resolved":false,"updated_at":"2020-04-19T02:43:30.801-04:00","is_deletion":false,"category":"normal"},{"id":368380,"created_at":"2020-04-19T02:15:48.664-04:00","post_id":2165057,"reason":"Inferior
        version/duplicate of post #2221651","is_resolved":false,"updated_at":"2020-04-19T02:15:48.664-04:00","is_deletion":false,"category":"normal"},{"id":368379,"created_at":"2020-04-19T01:22:18.568-04:00","post_id":2221673,"reason":"Irrelevant
        to site. (Human only)","creator_id":169756,"is_resolved":false,"updated_at":"2020-04-19T01:22:18.568-04:00","is_deletion":true,"category":"normal"},{"id":368378,"created_at":"2020-04-19T00:41:39.211-04:00","post_id":2222084,"reason":"Uploader
        requested removal within 48 hours (Reason: Nnecgrau doesn''t want this to
        be uploaded)","is_resolved":false,"updated_at":"2020-04-19T00:41:39.211-04:00","is_deletion":false,"category":"normal"},{"id":368377,"created_at":"2020-04-19T00:15:25.192-04:00","post_id":1675459,"reason[...]
