interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://e621.net/post_flags.json
  response:
    body:
      string: '[{"id":368517,"created_at":"2020-04-19T22:42:29.601-04:00","post_id":2202625,"reason":"Inferior
        version/duplicate of post #2223324","is_resolved":false,"updated_at":"2020-04-19T22:42:29.601-04:00","is_deletion":false,"category":"normal"},{"id":368516,"created_at":"2020-04-19T22:35:52.984-04:00","post_id":432582,"reason":"Inferior
        version/duplicate of post #2223314","is_resolved":false,"updated_at":"2020-04-19T22:35:52.984-04:00","is_deletion":false,"category":"normal"},{"id":368515,"created_at":"2020-04-19T22:00:32.919-04:00","post_id":1712459,"reason":"Inferior
        version/duplicate of post #2223228","creator_id":95927,"is_resolved":false,"updated_at":"2020-04-19T22:00:32.919-04:00","is_deletion":true,"category":"normal"},{"id":368514,"created_at":"2020-04-19T21:37:52.941-04:00","post_id":2223226,"reason":"Uploader
        requested removal within 48 hours (Reason: I had. not completely cleaned it
        up. I will be uploading a properly cleaned version)","is_resolved":false,"updated_at":"2020-04-19T21:37:52.941-04:00","is_deletion":false,"category":"normal"},{"id":368513,"created_at":"2020-04-19T21:31[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://e621.net/posts/2202625.json
  response:
    body:
      string: '{"post":{"id":2202625,"created_at":"2020-04-04T16:47:26.755-04:00","updated_at":"2020-04-19T23:03:20.211-04:00","file":{"width":1280,"height":960,"ext":"jpg","size":241919,"md5":"6a5174c104347d16de8da82011ef3aa3","url":"https://static1.e621.net/data/6a/51/6a5174c104347d16de8da82011ef3aa3.jpg"},"preview":{"width":150,"height":112,"url":"https://static1.e621.net/data/preview/6a/51/6a5174c104347d16de8da82011ef3aa3.jpg"},"sample":{"has":true,"height":637,"width":850,"url":"https://static1.e621.net/data/sample/6a/51/6a5174c104347d16de8da82011ef3aa3.jpg"},"score":{"up":72,"down":-2,"total":70},"tags":{"general":["after_sex","animal_genitalia","animal_penis","anthro","anthro_on_anthro","bed","bodily_fluids","canine_penis","clothing","cum","cum_on_face","dialogue","duo","female","fur","furniture","genital_fluids","genitals","grey_body","grey_fur","inside","knot","licking","licking_cum","light","lighting","looking_at_another","male","on_bed","orange_body","orange_fur","panties","penis","plushie","speech_bubble","text","tongue","tongue_out","underwear","white_body","white_fur"],"species":["canid","canine","fox","lagomorph","leporid","mammal","rabbit","red_fox"],"character":["judy_hopps","nick_wilde"],"copyright":["disney","zootopia"],"artist":["samur_shalem"],"invalid":[],"lore":[],"meta":["2020","4:3","english_text"]},"locked_tags":[],"change_seq":26962518,"flags":{"pending":false,"flagged":true,"note_locked":false,"status_locked":false,"rating_locked":false,"deleted":false},"rating":"e","fav_count":185,"sources":["https://twitter.com/SpicySamur/status/1246155409049567233","https://pbs.twimg.com/media/EUs7dv8U0AABQZY.jpg?name=orig"],"pools":[],"relationships":{"parent_id":2223324,"has_children":false,"has_active_children":false,"children":[]},"approver_id":169756,"uploader_id":167841,"description":"","comment_count":4,"is_favorited":false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"5fe88df388dc3ec3f737cf40d22b5527"
    status:
      code: 200
      message: OK
version: 1
