interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://e621.net/notes.json?limit=1
  response:
    body:
      string: '[{"id":257077,"created_at":"2020-04-19T21:28:27.432-04:00","updated_at":"2020-04-19T21:28:27.432-04:00","creator_id":370049,"x":1045,"y":1137,"width":184,"height":217,"version":2,"is_active":true,"post_id":2223224,"body":"Tastes
        like orange!!!","creator_name":"yeoldenut"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"6424d890d13e9402101c48352daebc2d"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://e621.net/posts/2223224.json
  response:
    body:
      string: '{"post":{"id":2223224,"created_at":"2020-04-19T21:27:05.653-04:00","updated_at":"2020-04-19T22:39:29.510-04:00","file":{"width":1240,"height":1754,"ext":"jpg","size":777224,"md5":"247a16dec207dc0b5f9fb12c08561777","url":"https://static1.e621.net/data/24/7a/247a16dec207dc0b5f9fb12c08561777.jpg"},"preview":{"width":106,"height":150,"url":"https://static1.e621.net/data/preview/24/7a/247a16dec207dc0b5f9fb12c08561777.jpg"},"sample":{"has":true,"height":1202,"width":850,"url":"https://static1.e621.net/data/sample/24/7a/247a16dec207dc0b5f9fb12c08561777.jpg"},"score":{"up":0,"down":0,"total":0},"tags":{"general":["4_fingers","4_toes","anthro","apron","apron_only","barefoot","beverage","black_nose","blue_eyes","blush","bodily_fluids","bow_tie","brown_body","brown_fur","brown_stripes","chest_tuft","clothing","cum","cum_in_a_cup","cum_stain","duo","erection","eyebrows","faceless_male","fingers","fur","genital_fluids","genitals","glass","hair","holding_object","holding_penis","male","masturbation","mostly_nude","multicolored_body","multicolored_fur","nipples","open_mouth","penile","penile_masturbation","penis","shirt","shirt_cuffs","simple_background","smile","solo_focus","stripes","t-shirt","tan_body","tan_fur","toes","topwear","tuft","waiter","white_background"],"species":["domestic_cat","felid","feline","felis","mammal"],"character":["hkl"],"copyright":[],"artist":["hkl9917462"],"invalid":[],"lore":[],"meta":["2019","censored","digital_media_(artwork)","hi_res"]},"locked_tags":[],"change_seq":26960284,"flags":{"pending":true,"flagged":false,"note_locked":false,"status_locked":false,"rating_locked":false,"deleted":false},"rating":"e","fav_count":8,"sources":["https://www.pixiv.net/en/artworks/72804087","https://twitter.com/HKL9917462/status/1087643114502709248","https://pbs.twimg.com/media/DxgVnaQU8AA3O39?format=jpg\u0026name=orig","https://i.pximg.net/img-original/img/2019/01/23/17/49/26/72804087_p0.jpg","https://www.pixiv.net/member_illust.php?mode=medium\u0026illust_id=72804087"],"pools":[],"relationships":{"parent_id":null,"has_children":false,"has_active_children":false,"children":[]},"approver_id":null,"uploader_id":370049,"description":"","comment_count":0,"is_favorited":false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"7bef6a2d4b64eb139bfef6b618b64fe4"
    status:
      code: 200
      message: OK
version: 1
