interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://e621.net/pools.json?search%5Bname_matches%5D=Weekend+2
  response:
    body:
      string: '[{"id":6527,"name":"Weekend_2","created_at":"2015-07-30T02:41:10.573-04:00","updated_at":"2017-11-20T12:27:28.038-05:00","creator_id":184107,"description":"The
        sequel to \"Weekend\" (pool #4458) by Zeta-Haru","is_active":true,"category":"series","is_deleted":false,"post_ids":[698919,704090,704051,707758,721004,731790,740772,760135,772368,782902,787108,805748,821885,851766,858376,868075,893546,907429,915600,982861,991366,997570,1008131,1027424,1032814,1038821,1058514,1112750,1119085,1138160,1139099,1146879,1150299,1155254,1159475,1186343,1202231,1208291,1218060,1226082,1241247,1312627,1325886,1330348,1342425,1349000,1354407,1383235],"creator_name":"ArcanaHyena","post_count":48}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"e0fdd99bb35e7ebb7bc3114d29b25786"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://e621.net/posts.json?tags=pool%3A6527&page=1
  response:
    body:
      string: '{"posts":[{"id":1383235,"created_at":"2017-11-20T12:23:11.340-05:00","updated_at":"2020-04-17T20:27:20.798-04:00","file":{"width":767,"height":1000,"ext":"png","size":489122,"md5":"539fd6c8c9af7b79693783b995ddf640","url":"https://static1.e621.net/data/53/9f/539fd6c8c9af7b79693783b995ddf640.png"},"preview":{"width":115,"height":150,"url":"https://static1.e621.net/data/preview/53/9f/539fd6c8c9af7b79693783b995ddf640.jpg"},"sample":{"has":false,"height":1000,"width":767,"url":"https://static1.e621.net/data/53/9f/539fd6c8c9af7b79693783b995ddf640.png"},"score":{"up":5,"down":0,"total":125},"tags":{"general":["5_fingers","anthro","bed","bedding","blanket","clothed","clothing","door","duo","fingers","fur","furniture","lying","male","male/male","on_side","pillow","sleeping","spooning"],"species":["bird_dog","canid","canine","canis","domestic_dog","golden_retriever","hunting_dog","mammal","retriever","wolf"],"character":["daniel_segja","joel_mustard"],"copyright":["patreon"],"artist":["zeta-haru"],"invalid":[],"lore":[],"meta":["comic"]},"locked_tags":[],"change_seq":23384218,"flags":{"pending":false,"flagged":false,"note_locked":false,"status_locked":false,"rating_locked":false,"deleted":false},"rating":"s","fav_count":306,"sources":["https://www.furaffinity.net/view/25500100/","https://furaffinity.net/user/zeta-haru"],"pools":[6527],"relationships":{"parent_id":null,"has_children":false,"has_active_children":false,"children":[]},"approver_id":38571,"uploader_id":269143,"description":"","comment_count":42,"is_favorited":false},{"id":1354407,"created_at":"2017-10-12T23:44:06.503-04:00","updated_at":"2020-04-04T15:45:21.845-04:00","file":{"width":767,"height":1000,"ext":"png","size":453650,"md5":"d258ace230326909ef36b6eefeeccae7","url":"https://static1.e621.net/data/d2/58/d258ace230326909ef36b6eefeeccae7.png"},"preview":{"width":115,"height":150,"url":"https://static1.e621.net/data/preview/d2/58/d258ace230326909ef36b6eefeeccae7.jpg"},"sample":{"has":false,"height":1000,"width":767,"url":"https://static1.e621.net/[...]
