interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://e621.net/pools.json?search%5Bname_matches%5D=Critical+Success
  response:
    body:
      string: "[{\"id\":6059,\"name\":\"Critical_Success\",\"created_at\":\"2015-05-12T03:12:04.070-04:00\",\"updated_at\":\"2020-01-11T07:33:28.640-05:00\",\"creator_id\":80719,\"description\":\"Terry
        already knew DMing a roleplay game wasn\u2019t going to be easy. Even tougher
        realizing that he has to teach a newbie the ropes. Especially if that newbie
        is Avery, who decides an encounter with a bunch of goo monsters is a chance
        at a \u2018good time\u2019. Time to brush up on improvised weapons.\\r\\n\\r\\nhttps://gumroad.com/ayceeart#drwUy\\r\\nhttps://furplanet.com/shop/item.aspx?itemid=835\",\"is_active\":false,\"category\":\"series\",\"is_deleted\":false,\"post_ids\":[653514,653515,653820,1441782,1441786,1441787,1441789,1441791,678082,1441792,693861,700924,703925,708441,712438,721236,721238,729417,729418,734319,741807,746745,750238,757115,765045,771275,774520,783684,783686,787184,791551,795869,800718,800719,808888,815802,821123,826254,840444,846009,846008,851110,855229,859863,864338,869816,874986,885115],\"creator_name\":\"Emserdalf\",\"post_count\":48}]"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"2ea3d8cc3c744af62307527008838560"
    status:
      code: 200
      message: OK
version: 1
