language: python
dist: xenial
cache: false
env:
  global:
  - LD_PRELOAD=/lib/x86_64-linux-gnu/libSegFault.so
  - SEGFAULT_SIGNALS=all
  - secure: coN8bn2fheOY2Hg9zaitfczhhsIsxJ5X2m3m7mBcGJCIUi0F+zDps5oG5EtSsLImmqpqRvPsGRaWpkYBHgJgmWX2uNDJLS48zf41TAJWOcAjbE+O0GrdsEgHNgeYf7B66HBKz5CgJRv48T02Lcb9GFElHBj1IrZ+2EkH91AN7OmuJzj1Z87M2rW+NIbDQi9M7kaxgiJgXtnTQG365rzPP88T08Ub3zhqCq6L86dyH2QT05BTdbhkq8SIzMkThNlmt9dsI6SzRxG1QiDm3OU+8zJFJJtv0HMejHAxBjOdSoaO9VrYGDWZY9L738A4cdxfzjYmLfWVAAVcl52FjyGj7FyLi+hJGTrDd7Z0zq/aZe1/5uP4rspDQRuzQa4ylIyYx9uqX9dg94/JCeCJe94S5X9+6Nj6jSRh0jhTe5ecX2LCkJwuKs0c+n4bcZ9ZvI2fB308mFwS9yu7BFNdSv05s6KhTu3UZ0kOLNJ3H87Acfxnbc2+iV2DMcEOukPYIkAO3HhcGW4rv6q4NrNlfMxzE0k9opIhO/jJ9lgyV41Lcfo6QAGA4qtmFMWEBt5id0EPhcghLeSbgAcqXu+6JhCyGv+QLbzk/gEVYJ8zGeGby/PtG6bVctvtbZlwCx9CFcNtRocicucamFtvP+cLsQv5kjXemRnSk72DzYrCwXPvh+s=
  - secure: NOj+jOjhrJlRmPeHE1H6DoeU7cI4CK+BpgM+7//AYwC9Wmy+ILMcqBl4mepWO1ox1utEPttknjqSD7TnBdhU8GYcenagCfCWXF89AIyQYt8SS+INlxKshL8P/2WSVAhHry62xcV2H6WhnXKmCDxXcv0+Sz3mEt0azkbRBMdX5wAP6twNrlk2QyuMmTdIcyAIvVHIwNFyu2Zf06LYOMsC7uSK4G+WtTOOy1hozM7F/e31MJA3B0ditKnFHGXUBbq5748ytUsgojOrf75woKTGV+nVcRqjAVfdblmZdWTa8sGnNr2lbeNSQRGwsTQklOWfqcusWSugXJDhhEMzrRMJQAzlMtjiejk9Dm4pTLNIrFbO7WOkfwMawKm9YnUYiGxl72JxvY1uWKa39OGE0f6et9A0WDARj2pR7Pf4yJTAtUQyHv9KJGgBvMtJVzI2ujQN1duHKWsRAjtinYtGh9+6EQi2pEwpELOIVx+LfAbRClNtD2GOf/rLrsaxV+sbRUqzTdrACt3N8OjDeqQSh5kWH9224C+dT9B1WDLcNTJyUvreeby6FXvRFz/+tQZBMi6xhTw2N1obq3OFxpGZYc0yZfcOzhe7L3YHO4jCncP5XeabtZmvK8UgX/z4P7u/y4jX3ZPg4kgejG2iXku2gPkJPFICfIHs0/ei/toxn1+WRHI=
matrix:
  include:
  - python: '3.7'
    env:
    - TOXENV=check
  - python: '3.7'
    env:
    - TOXENV=docs
  - env:
    - TOXENV=py37,codecov
    python: '3.7'
  - env:
    - TOXENV=py38,codecov
    python: '3.8'
before_install:
- python --version
- uname -a
- lsb_release -a || true
install:
- python -mpip install --progress-bar=off tox -rci/requirements.txt
- virtualenv --version
- easy_install --version
- pip --version
- tox --version
script:
- tox -v
after_failure:
- more .tox/log/* | cat
- more .tox/*/log/* | cat
notifications:
  email:
    on_success: never
    on_failure: always
