interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://e621.net/posts.json?tags=m/m
  response:
    body:
      string: "{\"posts\":[{\"id\":2223657,\"created_at\":\"2020-04-20T03:55:55.833-04:00\",\"updated_at\":\"2020-04-20T03:55:55.833-04:00\",\"file\":{\"width\":1800,\"height\":1046,\"ext\":\"png\",\"size\":1067633,\"md5\":\"78dde51f489a07381d1d2f759f8c6ba5\",\"url\":\"https://static1.e621.net/data/78/dd/78dde51f489a07381d1d2f759f8c6ba5.png\"},\"preview\":{\"width\":150,\"height\":87,\"url\":\"https://static1.e621.net/data/preview/78/dd/78dde51f489a07381d1d2f759f8c6ba5.jpg\"},\"sample\":{\"has\":true,\"height\":493,\"width\":850,\"url\":\"https://static1.e621.net/data/sample/78/dd/78dde51f489a07381d1d2f759f8c6ba5.jpg\"},\"score\":{\"up\":0,\"down\":0,\"total\":0},\"tags\":{\"general\":[\"adhereswolf\",\"anal\",\"anal_penetration\",\"anthro\",\"balls\",\"bodily_fluids\",\"close-up\",\"genital_fluids\",\"genitals\",\"male\",\"male/male\",\"penetration\",\"precum\",\"public\",\"subway\"],\"species\":[\"canid\",\"canine\",\"canis\",\"fox\",\"mammal\",\"wolf\"],\"character\":[\"redrick\"],\"copyright\":[],\"artist\":[\"erickredfox\"],\"invalid\":[],\"lore\":[],\"meta\":[\"hi_res\"]},\"locked_tags\":[],\"change_seq\":26965459,\"flags\":{\"pending\":true,\"flagged\":false,\"note_locked\":false,\"status_locked\":false,\"rating_locked\":false,\"deleted\":false},\"rating\":\"e\",\"fav_count\":0,\"sources\":[\"https://www.furaffinity.net/view/35925921/\"],\"pools\":[],\"relationships\":{\"parent_id\":null,\"has_children\":false,\"has_active_children\":false,\"children\":[]},\"approver_id\":null,\"uploader_id\":143648,\"description\":\"\",\"comment_count\":0,\"is_favorited\":false},{\"id\":2223627,\"created_at\":\"2020-04-20T03:25:12.680-04:00\",\"updated_at\":\"2020-04-20T03:26:03.540-04:00\",\"file\":{\"width\":2048,\"height\":4267,\"ext\":\"jpg\",\"size\":2394771,\"md5\":\"f8e364955086ec2a2efb7dbe69b9b457\",\"url\":\"https://static1.e621.net/data/f8/e3/f8e364955086ec2a2efb7dbe69b9b457.jpg\"},\"preview\":{\"width\":71,\"height\":150,\"url\":\"https://static1.e621.net/data/preview/f8/e3/f8e364955086ec2a2efb7dbe69b9b457.jpg\"},\"sample\":{\"has\":true,\"height\":177[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://e621.net/posts.json?tags=m/m+rating:s
  response:
    body:
      string: "{\"posts\":[{\"id\":2223559,\"created_at\":\"2020-04-20T01:27:40.613-04:00\",\"updated_at\":\"2020-04-20T03:16:09.445-04:00\",\"file\":{\"width\":3000,\"height\":3000,\"ext\":\"jpg\",\"size\":2799313,\"md5\":\"c6f64f8fed39d71d91149fadddc1cbc4\",\"url\":\"https://static1.e621.net/data/c6/f6/c6f64f8fed39d71d91149fadddc1cbc4.jpg\"},\"preview\":{\"width\"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://e621.net/posts.json?tags=m/m&limit=1
  response:
    body:
      string: '{"posts":[{"id":2223657,"created_at":"2020-04-20T03:55:55.833-04:00","updated_at":"2020-04-20T03:55:55.833-04:00","file":{"width":1800,"height":1046,"ext":"png","size":1067633,"md5":"78dde51f489a07381d1d2f759f8c6ba5","url":"https://static1.e621.net/data/78/dd/78dde51f489a07381d1d2f759f8c6ba5.png"},"preview":{"width":150,"height":87,"url":"https://stati[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://e621.net/posts.json?tags=m/m&page=1
  response:
    body:
      string: "{\"posts\":[{\"id\":2223657,\"created_at\":\"2020-04-20T03:55:55.833-04:00\",\"updated_at\":\"2020-04-20T03:55:55.833-04:00\",\"file\":{\"width\":1800,\"height\":1046,\"ext\":\"png\",\"size\":1067633,\"md5\":\"78dde51f489a07381d1d2f759f8c6ba5\",\"url\":\"https://static1.e621.net/data/78/dd/78dde51f489a07381d1d2f759f8c6ba5.png\"},\"preview\":{\"width\":1[...]
