interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://e621.net/post_flags.json?search%5Bpost_id%5D=2213076
  response:
    body:
      string: '[{"id":368484,"created_at":"2020-04-19T17:24:57.048-04:00","post_id":2213076,"reason":"Inferior
        version/duplicate of post #2222262","creator_id":38571,"is_resolved":false,"updated_at":"2020-04-19T17:24:57.048-04:00","is_deletion":true,"category":"normal"},{"id":368383,"created_at":"2020-04-19T02:50:38.030-04:00","post_id":2213076,"reason":"Inferior
        version/duplicate of post #2222262","is_resolved":false,"updated_at":"2020-04-19T02:50:38.030-04:00","is_deletion":false,"category":"normal"}]'
    headers:
      Content-Type: application/json; charset=utf-8
      Etag: W/"27bc8791b37f43b5c1025310f2ec82b6"
    status:
      code: 200
      message: OK
    url: https://e621.net/post_flags.json?search%5Bpost_id%5D=2213076
version: 1
