interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://e621.net/notes.json?search%5Bpost_id%5D=2222254&search%5Bcreator_id%5D=366315&limit=1
  response:
    body:
      string: '[{"id":257037,"created_at":"2020-04-19T02:58:56.716-04:00","updated_at":"2020-04-19T02:58:56.716-04:00","creator_id":366315,"x":774,"y":136,"width":36,"height":50,"version":2,"is_active":true,"post_id":2222254,"body":"Chu~","creator_name":"Mutter"}]'
    headers:
      Content-Type: application/json; charset=utf-8
      Etag: W/"b83e2b86bf3bcedd7ab4d3b47576e6ec"
    status:
      code: 200
      message: OK
    url: https://e621.net/notes.json?search%5Bpost_id%5D=2222254&search%5Bcreator_id%5D=366315&limit=1
version: 1
